<%# locals: (project:, comment:) -%>
<%= form_with model: [project, comment], class: "bg-white p-4 rounded-lg shadow-md" do |f| %>
  <h3 class="text-lg font-bold mb-2">Add a comment</h3>
  <div class="mb-4">
    <%= f.textarea :body, rows: "3", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6", placeholder: "Enter your comment" %>
  </div>
  <% if comment.errors[:body].any? %>
    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      <%= comment.errors.full_messages_for(:body).join(", ") %>
    </span>
  <% end %>
  <%= f.submit "Submit", class: "inline-flex justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:w-auto" %>
<% end %>
