<p class="text-gray-700 text-sm mb-2">
  <%= l(project_status_change.created_at) %>:
  Changed status from <%= project_status_change.previous_status %> to <%= project_status_change.current_status %>
</p>
